[submodule "squid-box-csharp"]
	path = squid-box-csharp
	url = https://github.com/squid-box/adventofcode2021.git
[submodule "tradfursten-elixir"]
	path = tradfursten-elixir
	url = https://github.com/tradfursten/advent_of_code_2021
