[submodule "squid-box-csharp"]
	path = squid-box-csharp
	url = https://github.com/squid-box/adventofcode2021.git
[submodule "tradfursten-elixir"]
	path = tradfursten-elixir
	url = https://github.com/tradfursten/advent_of_code_2021
[submodule "cheif-swift"]
	path = cheif-swift
	url = git@github.com:cheif/advent-of-code.git
	branch = 2021
[submodule "nilskj-javascript"]
	path = nilskj-javascript
	url = git@github.com:nilskj/AdventOfCode-2021.git
	
[submodule "ygge-java"]
	path = ygge-java
	url = git@github.com:ygge/adventofcode2021.git
[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2021-elixir.git
[submodule "prositen-python"]
	path = prositen-python
	url = git@github.com:prositen/advent-of-code.git
[submodule "johangrahn-rust"]
	path = johangrahn-rust
	url = https://github.com/johangrahn/advent_of_code_2021
[submodule "yxhuvud-crystal"]
        path = yxhuvud-crystal
        url = https://github.com/yxhuvud/aoc21
[submodule "p1xelher0-ocaml"]
	path = p1xelher0-ocaml
	url = https://github.com/p1xelHer0/advent-of-code-2021-ocaml.git
[submodule "johan-oelrich-fsharp"]
	path = johan-oelrich-fsharp
	url = git@github.com:oelrich/advent-of-code-2021.git
[submodule "heinerud-python"]
	path = heinerud-python
	url = https://github.com/heinerud/aoc21
